# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
terraingen

# CMake and build system
*cmake
CMakeFiles
CMakeCache.txt
.ninja_deps
.ninja_log
build
build.ninja

.vscode
DartConfiguration.tcl
Testing
.DS_Store
debug
.cache
imgui.ini
gui-slint/target